<button type="button" class="btn btn-success" id="showModalButton">
    Add Item
</button>


<div id="modalContainer">

</div> <!-- This will hold the modal content -->
@section Scripts
{
    <script>
        $(document).ready(function() {
            $("#showModalButton").click(function() {
                $.ajax({
                    url: '@Url.Action("AddItemPartial", "User")',
                    type: 'GET',
                    success: function(response) {
                        $('#modalContainer').html(response);
                        $('#addItemModal').modal('show');
                    }
                });
            });
        });
    </script>
}
